<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="style.css">
        <title>API | Dischi Musicali</title>
    </head>
    <body>
        <div class="header">
            <div class="container-header">
                <img id="logo" src="logo.png" alt="logo-spotify">
            </div>

        </div>

        <div class="container">

            <div id="root">

                <select id="select-genre" class="" v-model="genreChoise">

                    <option  value="All types">All types</option>
                    <option v-for="genre in genres" :value="genre">{{genre}}</option>

                </select>

                <div class="container-album">

                    <div class="album"
                    v-for="(album, index) in albumArray"
                    v-if="(genreChoise == album.genre || genreChoise == 'All types')"
                    >
                        <img :src="album.poster" :alt="album.title">
                        <h3>{{album.title}}</h3>
                        <p class="author">{{album.author}}</p>
                        <p class="year">{{album.year}}</p>

                    </div>


                </div>


            </div>

        </div>

        <div class="footer"></div>


        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
